
#giftTitle {
    text-align: center;
}

.giftTitleSpan {
    color: var(--medblue);
}

.giftTitleUser {
    display: inline-block;
    margin-right: 10px;
}

.giftTitleUser::first-letter {
    text-transform: uppercase;
}

.listContainer {
    width: 95%;
    margin: 0 auto 20px auto;
    border: 2px solid #30363d;
    border-radius: 5px;
    margin-bottom: 150px;
}

#reloadBtnContainer {
    text-align: center;
}

/* #reloadButton {
    width: 20%;
    border: 2px solid var(--darkblue);
    padding: 5px;
    background-color: var(--medblue);
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 100px;
} */

@media only screen and (max-width: 450px) {
    #giftTitle {
        font-size: 1em;
    }

    .listContainer {
        width: 90%;
    }

    /* #reloadButton { 
        width: 90%;
    } */
}
